.textoBlanco{
	color: white;
}

.textoAmarillo{
	color: #c59a26;
}

.textoVerde{
	color:#07200B;
}

.textoCenter{
	text-align: center;
}

.textoGris{
	color:#4D4D4D;
}

.textoBold{
	font-weight: bold;
}

.textoCoTi{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.textoCenter{
	text-align: center;
}

.livetrackTitulo{
	margin-top:1em;
	text-transform: uppercase;
	color:#D7D7D7;
}

.fondoAmarillo{
	background-color: #CA8B0C;
}

.padding2{
	padding: 2em 0;
}

.fondoBlanco{
	background-color: white;
}

.fondoVerde{
	background: none repeat scroll 0 0 #0f2d11;
}

.fondoVerdeOscuro{
	background: none repeat scroll 0 0 #07200B;
}

.fondoVerdeClaro{
	background: none repeat scroll 0 0 #114821;
}

.botonVerde{
	background: #114821;
	color: white;
	width: 85%;
	padding: 1em;
	margin: 2em 0;
}

.entradaLiveTrack{
	font-family:sli;
	font-size: 1.3em;
	margin: 10px 0;
	border: none;
	border-bottom: solid 1px;
	padding-bottom: 10px;
}

.icon{
	width: 50%;
	margin: 0 auto;
}

.cruz{
	color: white;
    background-color: #CA8B0C;
    padding: .5px 3px 2px;
    margin-right: 5px;
    text-align: center;
}

#mapa iframe{
	width: 100%;
}


