.textoBlanco{
	color: white;
}

.textoAmarillo{
	color: #c59a26 !important;
}

.textoVerde{
	color:#114821 !important;
}

.iziModal-header-title{
	font-weight: bold;
	color:#114821 !important;
}

.textoCenter{
	text-align: center;
}

.textoGris{
	color:#4D4D4D;
}

.textoLeerMasLink{
	color:#ca9b37 !important;
	font-weight: bold;
}

.textoLeerMasLink:hover{
	color:#4D4D4D!important;
	font-weight: bold;
}

.textoBold{
	font-weight: bold;
}

.textoCoTi{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.textoCenter{
	text-align: center;
}

.livetrackTitulo{
	margin-top:1em;
	text-transform: uppercase;
	color:#D7D7D7;
}

.tituloNoticias{

	padding-top: 1em;
	font-weight: bold;
	color:#114821;
}

.subTituloNoticias{
	text-align: left;	
	color:#CA8B0C;
	text-transform: uppercase;
}

.resumenNoticias{
	text-align: justify;
}

.parrafoNoticias{
	margin:1em auto;
	width: 28%;
	color:#4D4D4D;
}

.tituloContacto{
	padding-top:1em;
	text-transform: uppercase;
	font-weight: bold;
	color:#4D4D4D;
	border-bottom: solid 1px;
}

.oficinasContacto{
	text-transform: uppercase;
	font-weight: bold;
	color:#114821;
}

.domicilioContacto{
	font-style: normal;
}

.telefonoContacto{
	color:#4D4D4D !important;
	font-weight: bold;
}

.correoContacto{
	color:#4D4D4D !important;
	font-weight: bold;
}

.fondoAmarillo{
	background-color: #CA8B0C;
}

.padding2{
	padding: 2em 0;
}

.fondoBlanco{
	background-color: white;
}

.fondoVerde{
	background: none repeat scroll 0 0 #0f2d11;
}

.fondoVerdeOscuro{
	background: none repeat scroll 0 0 #07200B;
}

.fondoVerdeClaro{
	background: none repeat scroll 0 0 #114821;
}

.botonVerde{
	font-size: 1em;
	background: #114821;
	color: white;
	width: 85%;
	padding: 1em;
	margin: 2em 0;
}

.entradaLiveTrack{
	font-family:sli;
	font-size: 1.3em;
	margin: 10px 0;
	border: none;
	border-bottom: solid 1px;
	padding-bottom: 10px;
}

.entradaContacto{
	color:#444;
	width: 100%;
	font-size: 1rem;
	border: none;
    background: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px;
    display: block;
}

.icon{
	width: 50%;
	margin: 0 auto;
}

.iconSocial{
	width: 15%;
	display: inline;
}

.linkSocial{
	float: left;
	color: #224626 !important;
}

.cruz{
	color: white;
    background-color: #CA8B0C;
    padding: .5px 3px 2px;
    margin-right: 5px;
    text-align: center;
}

.leerNoticias{
	font-weight: bold;
	margin: 1em 0;
	text-align: right !important;
	color:#4D4D4D !important;
}

.seccionContacto{
	padding-bottom: 2em;
}

.imgenLiga{
	display: inline;
	width: 25%;
}

.imgenLigaEo{
	display: inline;
	width: 25%;
	margin: 1.5em 0;
}

.imgenLigaFiata{
	margin-right: 1em;
	margin-left: 1em;
	display: inline;
	width: 16%;
}

.tituloLiga{
	margin-top: 3em;
}

#afiliada{
	padding: 2em 0;
}

#mapa iframe{
	width: 100%;
}

.sliderSecciones{
	padding-top: 6em;
}

.tituloSecciones{
	padding-top: 2em;
	font-weight: bold;
	color:#CA8B0C;
}

/*Seccion de servicios*/

.cuadroServicio{
	padding: 1em;
}

.subtituloServicios{
	font-weight: bold;
}

/*Seccion de aviso*/

.tituloAviso{
	padding-top: 9em; 
}

.subTitulosAviso{
	font-weight: bold;
	color:#114821;
}

.lista{
	text-align: left;
}

.iziModal-header-title{
	color:white !important;
	font-weight: bold;
}

.iziModal-header-subtitle{
	color:white !important;
	font-weight: bold;
}

.seccionCotizaciones{
	display: grid;
	grid-template-columns: 1fr;
}

.botonCotizar{
	width: 10%;
	justify-self:center;
}

.imagenVision{
	height: 100% !important;
	width: 100% !important;
	min-width: initial !important;
}