.textoBlanco{
	color: white;
}

.textoAmarillo{
	color: #c59a26;
}

.fondoAmarillo{
	background-color: #CA8B0C;
}

.padding2{
	padding: 2em 0;
}

.fondoBlanco{
	background-color: white;
}

#mapa iframe{
	width: 100%;
}